/*This is saying the width, height and font of everything in body and html is 100%, 100%, and Montserrat*/
body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; /*This is saying - use the header.jpg file in our folder, don't repeat the image, center it horizontally and vertically, and keep it fixed while scrolling.*/
  -webkit-background-size: cover; /*These 3 lines are for older browswer compatability*/
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; /*scales the image(background) to cover the viewport*/
}

h1 {
  font-size: 3rem;
  color: #e2dbdb;
}

/*This is a horizontal line*/
hr {
    margin: 20px auto;
    color: #F05F44;
    border: 2px solid #F05F44;
    max-width: 65px; /*The max width it can be*/
    opacity: 1;  
}

/*This is the size of the buffer (the space between the header and the button)*/
.buffer {
  height: 10rem;
}

.btn {
  font-weight: 700;
  border-radius: 300px; /*Makes the corners of the button circular*/
  text-transform: uppercase; /*Makes the font of the button uppercase*/
}

.btn-xl {
  padding: 1rem 2rem; /*Makes the button larger*/

}

.btn-primary {
  background-color: #F05F44; /*This makes the background color of the button orange*/
  border-color: #F05F44; /*This makes the border color of the button orange*/
}

.btn-primary:hover {
  background-color: #ee4b08; /*This makes the background color of the button a darker orange when you hover over it*/
  border-color: #ee4b08; /*This makes the border color of the button a darker oranger when you hover over it*/
  border-width: 4px; /*This makes the border 4px bigger when you hover over it */
}

